<div class="about_section">
<h1>ABOUT</h1>
<p>Fabio Alain Quartararo (born 20 April 1999), nicknamed El Diablo, 
    is a French Grand Prix motorcycle rider racing in MotoGP for 
    Monster Energy Yamaha MotoGP. Having won the 2021 MotoGP World Championship, 
    he is the first French World Champion in the premier class' history.
    Prior to his Grand Prix career, Quartararo won six Spanish junior championship 
    titles, including successive CEV Moto3 titles in 2013 and 2014. Due to his 
    successes at a young age, he has been tipped for "big things",even being compared
    to multiple time world champion Marc Márquez,and set various age records during his 
    progress up to World Championship level. He failed to meet the high expectations in 
    the Moto3 and Moto2 World Championships, but made the move up to MotoGP with 
    Petronas Yamaha SRT, and finished as rookie of the year in 2019 with seven podiums 
    and 5th place in the overall standings. After collecting 3 victories in the compressed 
    2020 season, Quartararo moved up to the Yamaha Factory Racing Team for 2021 replacing 
    Valentino Rossi, and managed to win the championship in his first season collecting 5 
    victories and 10 podiums.</p>
    <h1>Biography</h1>
    <p>Of Italian origin, as he was born into a Sicilian family moved to France, he can be 
        considered a son of art: his father, Étienne, competed in the 1986 French motorcycle 
        Grand Prix in the 250 class. On 14 July 2022 he was awarded a knight of the Legion of Honour.</p>
</div>
