.contact{
    width: 100%;
    height: auto;
    text-align: center;

    h1{
        text-align: left;
        font-size: 25px;
        padding: 20px; 
        text-align: center; 
    }

    input{
        width: 400px;
        height: 30px;
        border: 1px solid blue;
        padding-left: 20px;
        margin-top: 20px;
    }

    input:hover{
        transition: 1s;
        width: 500px;
    }
    button{
        width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    margin: 10px;
    cursor: pointer;
    border: none;
    }
}