<div class="heading">
<h1>FABIO <span>QUARTARARO</span></h1>
</div>
<div class="cover_pic"></div>
<div class="gallery">
<h2>GALLERY</h2>
<div class="gallery_images">
<img appTransitionDirective src="https://w0.peakpx.com/wallpaper/151/456/HD-wallpaper-fabio-quartararo-motogp.jpg" alt="">
<img appTransitionDirective src="https://w0.peakpx.com/wallpaper/877/640/HD-wallpaper-fabio-quartararo-sports-uniform-sports-gear.jpg" alt="">
<img appTransitionDirective src="https://e1.pxfuel.com/desktop-wallpaper/479/556/desktop-wallpaper-fabio-quartararo-2021-motogp-world-championship.jpg" alt="">
<img appTransitionDirective src="https://pbs.twimg.com/media/EN6_-xNW4AI29JU.jpg:large" alt="">
<img appTransitionDirective src="https://e1.pxfuel.com/desktop-wallpaper/694/570/desktop-wallpaper-fq20-hashtag-on-twitter-fabio-quartararo-iphone.jpg" alt="">
<img appTransitionDirective src="https://w0.peakpx.com/wallpaper/288/213/HD-wallpaper-fabio-quartararo-moto-gp-moto.jpg" alt="">
<img appTransitionDirective src="https://w0.peakpx.com/wallpaper/504/779/HD-wallpaper-fabio-quartararo-sports-uniform-motorsport.jpg" alt="">
<img appTransitionDirective src="https://pbs.twimg.com/media/FXdWICEX0AEfL7Z.jpg:large" alt="">
<img appTransitionDirective src="https://e0.pxfuel.com/wallpapers/770/620/desktop-wallpaper-fabio-quartararo-motogp-world-champion-thumbnail.jpg" alt="">
<img appTransitionDirective src="https://e0.pxfuel.com/wallpapers/538/1000/desktop-wallpaper-fabio-quartararo-motogp-world-champion-thumbnail.jpg" alt="">
</div>
<button routerLink="About"  appHoverDirective>ABOUT RIDER</button>
</div>
